<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<meta charset="UTF-8">

<div layout:fragment="content">
	<div class="alert alert-primary mt-10" th:if="${#lists.isEmpty(lista)}">
			Nenhum usuário encontrado</div>
	<div class="alert alert-primary mt-10" th:if="${mensagem != null}"
	th:text="${mensagem}"></div>
<div class="whole-wrap">

		<div class="container box_1170" th:if="${not #lists.isEmpty(lista)}">
			<div class="section-top-border">
		
				<h3 class="mb-30">Usuários Cadastrados</h3>
				
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">ID</div>
							<div class="country">Email</div>
							<div class="visit">Privilégio</div>
							<div class="visit">Opções</div>
							
						</div>
							<div class="table-row" th:each="usuario : ${lista}">
								<div class="serial" th:text="${usuario.id}"></div>
								<div class="country" th:text="${usuario.email}"></div>
								<div class="visit" th:text="${usuario.privilegio}"></div>
								<div class="visit">													
								
								<a class="genric-btn danger-border circle ml-2"
								th:href="@{/usuario/excluir(id=${usuario.id})}"
								onclick="return confirm('Você realmente deseja excluir esse registro?')">Excluir</a>
								</div>
						</div>				
			</div>
		</div>
	</div>
			
</div>

</div>

</html>