<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<meta charset="UTF-8">

<div layout:fragment="content">
	<div class="alert alert-primary mt-10" th:if="${#lists.isEmpty(lista)}">
			Nenhum ingrediente encontrado</div>
	<div class="alert alert-primary mt-10" th:if="${mensagem != null}"
	th:text="${mensagem}"></div>
<div class="whole-wrap">
<div class="section-top-border">
	<div class="row">
		<div class="col-lg-8 col-md-8">
		<h3 class="mb-30">Pesquisar Ingrediente</h3>
			<form method="GET">
				<div class="mt-10">							
					<input type="text" name="nomeIngrediente" placeholder="Nome do Ingrediente"
						onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pesquisar Ingrediente'" required
						class="single-input" th:value="${nomeIngrediente}"></input>
				</div>
				<div>
                     <button type="submit" class="genric-btn success circle mt-10">Pesquisar</button>		                     
                </div>
			</form>
		</div>
	</div>
</div>
		<div class="container box_1170" th:if="${not #lists.isEmpty(lista)}">
			<div class="section-top-border">
		
				<h3 class="mb-30">Ingredientes Cadastrados</h3>
				
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">ID</div>
							<div class="country">Ingrediente</div>
							<div class="visit">Opções</div>
							
						</div>
							<div class="table-row" th:each="ingrediente : ${lista}">
								<div class="serial" th:text="${ingrediente.id}"></div>
								<div class="country" th:text="${ingrediente.nomeIngrediente}"></div>
								<div class="visit">
								<a class="genric-btn info-border circle" 
								th:href="@{/ingrediente/editar(id=${ingrediente.id})}">Editar</a>							
								<a class="genric-btn danger-border circle ml-2"
								th:href="@{/ingrediente/excluir(id=${ingrediente.id})}"
								onclick="return confirm('Não é possível excluir ingredientes em uso. Você realmente deseja excluir esse registro?')">Excluir</a>
							</div>
						</div>				
			</div>
		</div>
	</div>
			<div class="section-top-border text-center">
                <a class="genric-btn success circle mt-10" th:href="@{/ingrediente/editar}">Novo</a>		                     
           	</div>
</div>

</div>

</html>